<h1>{{title}}</h1>
<h5>Welcome to your very own Food Diary App</h5>
<p>Your nomnoms are being served</p>
<p>To log and view your favourite recipes</p>
<p>Step 1 : navigate to http://localhost:3000/recipe</p>
<p>Step 2 : click on the recipe you want OR add a new entry</p>
<p>Step 3 : Enjoy archiving the best meal a man can have</p>

