<form class="form" action="/recipe" method="post">
    <div class="form-group">
        <label for="name">Recipe</label>
        <input type="text" class="form-control" id="recipeName" placeholder="Add Recipe">
    </div>

    <div class="form-group">
        <label for="level">Cooking Level id="cook_level"</label>
        <select class="form-control form-control-md">
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cook_time">Cooking Time</label>
        <input type="text" class="form-control" id="cook_time" placeholder="Insert Cooking time (ie. 20 mins)">
    </div>

    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" placeholder="Insert URL">
    </div>

    <button type="button" class="btn btn-default btn-info">Submit</button>
</form>